
.idea/workspace.xml

*.npy
*.pyc
*.png

!/saved_param/*.npy
!/saved_param/*.png

*.gz
*.bin
*.sgf

cifar10/*
mnist/*
*.prop
*.meta
*.ckpt*
checkpoint
cnn_models/cnn_train/*
cnn_models/cnn_train_9/*
cnn_models/cnn_train_9_gogod/*
cnn_models/cnn_eval_9/*
