
.idea/workspace.xml

*.npy
*.pyc
*.png

!/saved_param/*.npy
!/saved_param/*.png

*.gz
*.bin
*.sgf

cifar10/*
mnist/*
*.prop
*.meta
*.ckpt*
checkpoint
cnn_models/cnn_train/*
cnn_models/cnn_train_9/*
cnn_models/cnn_train_9_gogod/*
cnn_models/cnn_eval_9/*
cnn_models/KGS2016_L1_CH4/*
cnn_models/KGS2016_L2_CH4/*
cnn_models/KGS2016_L4_CH4/*
cnn_models/gogod_9x9_train/*
cnn_models/9x9_10games_train/*
cnn_models/KGS2016_eval_l13_new/*
cnn_models/KGS2016_eval_l3_new/*
cnn_models/KGS_eval_l13/*
cnn_models/KGS_eval_l13_k128/*
cnn_models/KGS_eval_l13_new/*
cnn_models/KGS_eval_l2/*
cnn_models/KGS_eval_l2_new/*
cnn_models/KGS_eval_l3/*
cnn_models/KGS_eval_l3_new/*
cnn_models/KGS_train_l13/*
cnn_models/KGS_train_l13_k128/*
cnn_models/KGS_train_l13_new/*
cnn_models/KGS_train_l2/*
cnn_models/KGS_train_l2_new/*
cnn_models/KGS_train_l3/*
cnn_models/KGS_train_l3_new/*
cnn_models/gogod_eval_l13/*
cnn_models/gogod_eval_l13_new/*
cnn_models/gogod_eval_l2/*
cnn_models/gogod_eval_l2_new/*
cnn_models/gogod_eval_l3/*
cnn_models/gogod_eval_l3_new/*
cnn_models/gogod_train_l13/*
cnn_models/gogod_train_l13_new/*
cnn_models/gogod_train_l2/*
cnn_models/gogod_train_l2_new/*
cnn_models/gogod_train_l3/*
cnn_models/gogod_train_l3_new/*
cnn_models/logs/*
